@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/* BUTTONS */


.closeButton {
  background-color: #d32f2f;
  margin-top: 2vw;
}

.closeButton:active {
  background-color: #e33371;
  margin-top: 2vw;
}


.editButton {
  background-color: #f57c00;
}

.editButton:active {
  background-color: #ffb74d;

}

.logOut {
  background-color: #d32f2f;
  width: 30vw;
}

.logOut:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(1px);
  background-color: #e33371;
}

button {
  background-color: #1976d2;
  border: none;
  color: #fff;
  padding: 0.25vw;
  font-size: calc(4px + 1vw);
  display: block;
  margin: auto;
  width: 30vw;
}

button:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(1px);
  background-color: #4791db
}