

.formContainer {
    margin: 3vw 3vw;
    padding: 3vw 20vw;
    box-shadow: rgba(175, 175, 250, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
}



.formContainer form {
    text-align: left;
}

.formContainer form input, select {
    margin: 0vw 0vw 0.75vw 0vw;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.2vw 0;
    text-align: left;
    font-size: 12px;
}

.formContainer form input:focus, select:focus {
    outline: none
}

.formContainer form button {
    width: 100%;
}

.signup {
    margin-top: 3vw;
}

.message {
    color: #e33371
}

.search {
    padding: 0 25vw;
}



@media only screen and (max-width: 600px) {
    .formContainer {
      margin: 3vw 3vw;
      padding: 3vw 3vw;
      font-size: 3vw;
    }
  }


