.editContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0vw 10vw;
}

.editContainer form {
    text-align: left;
    padding: 3vw;
    font-size: calc(5px + 1vw);

}

.editContainer form input, select {
    margin: 0vw 0vw 0.75vw 0vw;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
    font-size: calc(5px + 1vw);

}

.editContainer form input:focus, select:focus {
    outline: none
}

.editContainer form button {
    border: none;
    background-color: #1976d2;
    color: #fff;
    padding: 0.25vw;
    margin-top: 1vw;
    width: 100%;
    font-size: calc(4px + 1vw);
    justify-self: center;
}
